@model IEnumerable<ORM.ShawarmaRecipe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingradient.IngradientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shawarma.ShawarmaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingradient.IngradientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shawarma.ShawarmaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShawarmaRecipeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShawarmaRecipeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShawarmaRecipeId })
        </td>
    </tr>
}

</table>
