@model IEnumerable<ORM.PriceController>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellingPoint.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shawarma.ShawarmaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPoint.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shawarma.ShawarmaName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PriceControllerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PriceControllerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PriceControllerId })
        </td>
    </tr>
}

</table>
