@model IEnumerable<ORM.TimeController>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Seller.SellerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.SellerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TimeControllerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TimeControllerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TimeControllerId })
        </td>
    </tr>
}

</table>
